@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* body */

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* container */

.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header */

header {
  width: 100%;
  height: 69px;
  background-color: #ec362d;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: auto;
  z-index: 1;
}

header p {
  height: 43px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 37px;
  line-height: 43px;
}

/* main-container */

.main-container {
  width: 1051px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* session create quiz  */

aside {
  width: 100%;
  height: 181px;
  border-radius: 5px;
  border: 1px dashed #d4d4d4;
  margin-top: 146px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.create-quiz {
  width: 250px;
  height: 181px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-quiz p {
  color: #b9b9b9;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  display: flex;
  justify-content: right;
  align-items: center;
}

.create-quiz button {
  width: 151px;
  height: 40px;
  border-radius: 50px;
  color: #ec362d;
  background-color: #fafafa;
  margin-top: 20px;

  font-family: "Roboto", sans-serif;
  border: 1px dashed #ec362d;
  cursor: pointer;
  font-weight: 400;
  font-size: 21px;
  line-height: 24px;
}

/* session all quizzes */

main {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* title all quizzes */

main p {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 10px;
  color: #000000;
}

/* container pictures quizzes */

.quizzes {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.box-quiz {
  position: relative;
}

.quizzes img {
  height: 181px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.box-quiz figcaption {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #ffffff;

  position: absolute;
  top: 125px;
  right: 20px;
  left: 20px;
  height: 50px;

  display: flex;
  justify-content: left;
  align-items: center;
}

/* mobile layout */

@media (max-width: 1100px) {
  header {
    width: 375px;
    height: 69px;
  }

  .container {
    width: 375px;
    background-color: #fbfafa;
  }

  .main-container {
    width: 340px;
  }

  aside {
    width: 340px;
    margin-top: 100px;
  }

  main {
    margin-top: 40px;
  }
}

/* *{
    box-sizing: border-box;
}
 */

/* =========================================== tela 3.1 ================================*/
/* .tela_3_1{
display: flex;
flex-direction: column;
align-items: center;

margin: 0 auto;

font-family: 'Roboto';

padding:20px;
}

.tela_3_1 h1{

    font-style: normal;
    font-weight: 700;
    font-size:20px;
    color: #000000;

    margin-bottom: 30px;

    
}

.info-basica-quiz{

    width: 600px;
    height: 270px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    
}

.info-basica-quiz input{

    width: 565px;
    height: 50px;

    font-style: italic;
    font-weight: 400;
    font-size: 19px;

    color: #BABABA;
    background: #FFFFFF;

    border: 1px solid #D1D1D1;
    border-radius: 5px;

    margin-bottom: 10px;

    
}

.tela_3_1 button{

    width: 370px;
    height: 55px;

    margin-top: 85px;


    border: none;
    background-color: #EC362D;
    border-radius: 15px;

    font-style: normal;
    font-weight: 400;
    font-size: 21px;

    color: #FFF5F4;


}

.tela_3_1 p{
    color:red;
}

.escondido{
    display: none;
} */
/* =========================================== fim estilo tela 3.1 ================================*/

/* @media(max-width:1100px){
    .info-basica-quiz,
    .info-basica-quiz input,
    .tela_3_1 button{
        width:100%;
    }

} */
